.row-cover { overflow: hidden; }
.row-wrap { margin: 0 -8.33333%; }
 @media only screen and (max-width: 767px) {
    .row-wrap { margin: 0; }
 }
 .centered{
     margin-left: 5%
 }

.week-container {
   margin: 15px;
   padding: 30px;
}

.day-container {
    margin: 15px;
    padding: 30px;
}

#dogimg{
    height: 200px;
    width: 200px;
    display: flex;
}